@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap");
h1, p, h2 {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: hidden;
}

button, li {
  cursor: pointer;
}

.subscribe-btn {
  width: 140px;
  height: 45px;
  border-radius: 50px;
  justify-self: flex-end;
  font-size: 16px;
  background-color: rgb(43, 188, 255);
  transition: background-color 0.5s;
}

.subscribe-btn:hover {
  background-color: rgb(97, 205, 255);
}

#header {
  width: 100vw;
  height: 70px;
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(150, 150, 150);
  align-items: center;
  background-color: white;
}
#header .logo {
  width: 90px;
  margin-left: 50px;
  margin-right: auto;
}
#header .nav-bar {
  display: flex;
  justify-self: flex-end;
  margin-right: 50px;
}
#header .nav-bar .nav-list {
  display: flex;
  column-gap: 50px;
  list-style: none;
}
#header .nav-bar .nav-list li {
  position: relative;
}
#header .nav-bar .nav-list li a {
  text-decoration: none;
  color: black;
}
#header .nav-bar .nav-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #000;
  transition: width 0.5s ease-out;
}
#header .nav-bar .nav-list li:hover::after {
  width: 100%;
}
#header .nav-bar-burger {
  position: absolute;
  bottom: -40px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 40px;
  z-index: 100;
  background-color: white;
}
#header .nav-bar-burger ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100vw;
}
#header .nav-bar-burger ul a {
  text-decoration: none;
  color: #000;
}
#header .subscribe-btn {
  margin-right: 70px;
}

@media (max-width: 675px) {
  #header .logo {
    margin-left: 5px;
  }
  #header .subscribe-btn {
    margin-right: 20px;
  }
}
#hero {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  padding-top: 70px;
  background-image: url("../images/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}
#hero h1 {
  z-index: 1;
  font-size: 40px;
  color: white;
  width: 80vw;
  max-width: 900px;
  text-align: center;
}
#hero p {
  z-index: 1;
  width: 80%;
  max-width: 500px;
  color: white;
  margin-top: 40px;
  text-align: center;
}
#hero a {
  z-index: 99;
}
#hero .subscribe-btn {
  margin-top: 60px;
}

#hero::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 70px;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  mix-blend-mode: multiply;
}

.features h1, .about-us h1 {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
}
.features .feature, .features .about-us-part, .about-us .feature, .about-us .about-us-part {
  display: flex;
  column-gap: 80px;
  align-items: center;
  margin: 10px 0;
  justify-content: center;
}
.features .feature .feature-image, .features .feature .about-us-image, .features .about-us-part .feature-image, .features .about-us-part .about-us-image, .about-us .feature .feature-image, .about-us .feature .about-us-image, .about-us .about-us-part .feature-image, .about-us .about-us-part .about-us-image {
  width: 95vw;
  max-width: 400px;
}
.features .feature .feature-description, .features .feature .about-us-description, .features .about-us-part .feature-description, .features .about-us-part .about-us-description, .about-us .feature .feature-description, .about-us .feature .about-us-description, .about-us .about-us-part .feature-description, .about-us .about-us-part .about-us-description {
  width: 95vw;
  max-width: 400px;
}
.features .subscribe-btn, .about-us .subscribe-btn {
  margin-bottom: 50px;
}

@media (max-width: 850px) {
  .feature {
    flex-direction: column;
  }
  .feature img {
    margin-bottom: 40px;
  }
  .a {
    flex-direction: column-reverse;
  }
}
#opinions-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px rgb(233, 233, 233) solid;
  border-bottom: 1px rgb(240, 240, 240) solid;
}
#opinions-sec h1 {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 80px;
}
#opinions-sec .opinions {
  display: flex;
  column-gap: 30px;
}
#opinions-sec .opinions .opinion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#opinions-sec .opinions .opinion img {
  width: 50px;
  border-radius: 50%;
}
#opinions-sec .opinions .opinion p:nth-child(1) {
  width: 85vw;
  max-width: 350px;
  border: solid 1px rgb(233, 233, 233);
  padding: 15px;
  border-radius: 5px;
  height: 200px;
  background-color: rgb(240, 240, 240);
}
#opinions-sec .subscribe-btn {
  margin: 60px 0;
}

@media (max-width: 1300px) {
  .opinions {
    flex-direction: column;
  }
}
#questions h1 {
  margin: 50px 0;
}
#questions .accordion {
  width: 90vw;
  max-width: 800px;
  margin: 10px 0;
}
#questions .subscribe-btn {
  margin: 50px 0;
}

#footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 20px 0;
  background-color: rgb(91, 91, 255);
  color: white;
}
#footer img {
  width: 90px;
}
#footer a {
  text-decoration: none;
  color: white;
}
#footer p {
  text-align: center;
}

.about-us {
  width: 100vw;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us h1 {
  text-align: center;
}
.about-us > p {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}
.about-us > h2 {
  margin-top: 50px;
  text-align: center;
}
.about-us .about-us-part {
  margin-top: 50px;
}
.about-us .about-us-part .about-us-description {
  margin-top: 10px;
}

#contact-us-section, #sign-up-section, #sign-in-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
}
#contact-us-section img, #sign-up-section img, #sign-in-section img {
  width: 110px;
}
#contact-us-section .form, #sign-up-section .form, #sign-in-section .form {
  border: 1px solid black;
  border-radius: 20px;
  width: 300px;
  height: 450px;
  padding-left: 20px;
}
#contact-us-section .form .outlined-basic, #sign-up-section .form .outlined-basic, #sign-in-section .form .outlined-basic {
  margin: 10px 0;
}
#contact-us-section .form .outlined-basic input, #sign-up-section .form .outlined-basic input, #sign-in-section .form .outlined-basic input {
  width: 250px;
}
#contact-us-section .form .send-a-message, #sign-up-section .form .send-a-message, #sign-in-section .form .send-a-message {
  font-size: 20px;
  margin: 20px 0;
}
#contact-us-section .form .submit, #sign-up-section .form .submit, #sign-in-section .form .submit {
  margin: 0 auto;
  margin-top: 10px;
  background-color: rgb(43, 188, 255);
  color: white;
  border-radius: 50px;
  border: none;
  width: 120px;
  height: 30px;
}
#contact-us-section textarea, #sign-up-section textarea, #sign-in-section textarea {
  border: 1px solid rgb(133, 133, 133);
  padding: 2px;
}
#contact-us-section textarea:focus, #sign-up-section textarea:focus, #sign-in-section textarea:focus {
  border: 1px solid rgb(0, 225, 255);
}
#contact-us-section .terms, #sign-up-section .terms, #sign-in-section .terms {
  font-size: 10px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.plans {
  width: 100vw;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.plans .plan {
  width: 300px;
  height: 400px;
  margin: 0;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.plans .plan h2 {
  margin: 20px 0;
  font-size: 22px;
  text-align: center;
}
.plans .plan > p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
}
.plans .plan .feature {
  display: flex;
  align-items: center;
  align-self: flex-start;
  color: rgb(106, 177, 0);
}
.plans .plan .subscribe-btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.subscribe h2 {
  margin: 40px 0;
}
.subscribe .input1 {
  width: 400px;
}
.subscribe .subscribe-btn::placeholder {
  padding: auto;
}
.subscribe input[type=submit] {
  cursor: pointer;
}

.finish-section h1 {
  margin-bottom: 20px;
}
.finish-section h1, .finish-section h2 {
  text-align: center;
}
.finish-section button {
  margin-top: 50px;
}

.client-area {
  width: 100vw;
  height: 100vh;
}
.client-area .client-area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 100px);
  z-index: 100;
  background-color: white;
  height: 70px;
  position: fixed;
  border-bottom: solid rgb(231, 231, 231) 1px;
  padding: 0 50px;
}
.client-area .client-area-header img {
  width: 100px;
}
.client-area .client-area-header .person-icon {
  font-size: 45px;
}
.client-area .lateral-bar {
  height: calc(100vh - 70px);
  width: 300px;
  border-right: solid rgb(230, 230, 230) 1px;
  transform: translateY(70px);
}
.client-area .lateral-bar p {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: solid rgb(230, 230, 230) 1px;
  cursor: pointer;
}
.client-area .lateral-bar p[class=""]:hover {
  background-color: #f8f8f8;
}
.client-area .lateral-bar .active {
  background-color: #ececec;
}
.client-area .main-page {
  display: flex;
  padding-bottom: 50px;
}
.client-area .main-page .info {
  padding-top: 70px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.client-area .main-page .info h1 {
  font-size: 34px;
}
.client-area .main-page .info h2 {
  margin-top: 20px;
}
.client-area .main-page .info .plan-switch {
  display: flex;
  width: calc(100vw - 300px);
  flex-direction: column;
  align-items: center;
}
.client-area .main-page .info .plan-switch .plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-area .main-page .ac {
  background-color: #dddddd;
  cursor: default;
}

.genre-books {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.genre-books .genres-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.genre-books .genre {
  margin: 10px;
  width: 130px;
  height: 60px;
  background-color: rgb(43, 188, 255);
  border-radius: 10px;
  transition: background-color 0.5s;
}
.genre-books .active {
  background-color: #dddddd;
}

.select-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-book .books-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}
.select-book .book {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 480px;
}
.select-book .book img {
  width: 200px;
}
.select-book .book h2 {
  height: 60px;
  overflow-y: hidden;
  text-align: center;
}
.select-book .book button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  margin: 10px;
  width: 90px;
  height: 30px;
  background-color: rgb(43, 188, 255);
  border-radius: 10px;
  transition: background-color 0.5s;
}

/*# sourceMappingURL=styles.css.map */
