@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

$color-1: white;
$color-2: black;
$color-3: rgb(43, 188, 255);


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    overflow-x: hidden;
}

button, li{
    cursor: pointer;
}

.subscribe-btn{
    width: 140px;
    height: 45px;
    border-radius: 50px;
    justify-self: flex-end;
    font-size: 16px;
    background-color: $color-3;
    transition: background-color .5s;
}

.subscribe-btn:hover{
    background-color: rgb(97, 205, 255);
}

#header{
    width: 100vw;
    height: 70px;
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(150, 150, 150);
    align-items: center;
    background-color: $color-1;
    .logo{
        width: 90px;
        margin-left: 50px;
        margin-right: auto;
    }
    .nav-bar{
        display: flex;
        justify-self: flex-end;
        margin-right: 50px;
        .nav-list{
            display: flex;
            column-gap: 50px;
            list-style: none;
            li{
                position: relative;
                a{
                    text-decoration: none;
                    color: black;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 1px;
                    background-color: #000;
                    transition: width 0.5s ease-out;
                }
                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
    .subscribe-btn{
        margin-right: 70px;
    }
}

#hero{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 70px);
    padding-top: 70px;
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    h1{
        z-index: 1;
        font-size: 40px;
        color: $color-1;
        width: 900px;
        text-align: center;
    }
    p{
        z-index: 1;
        width: 500px;
        color: $color-1;
        margin-top: 40px;
        text-align: center;
    }
    a{
        z-index: 99;
    }
    .subscribe-btn{
        margin-top: 60px;
    }
}
#hero::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    mix-blend-mode: multiply;
}

.features, .about-us{
    h1{
        margin-top: 50px;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .feature, .about-us-part{
        display: flex;
        column-gap: 80px;
        align-items: center;
        margin: 10px 0;
        justify-content: center;
        .feature-image, .about-us-image{
            width: 400px;
        }
        .feature-description, .about-us-description{
            width: 400px;
        }
    }
    .subscribe-btn{
        margin-bottom: 50px;
    }
}

#opinions-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top:1px rgb(233, 233, 233) solid;
    border-bottom: 1px rgb(240, 240, 240) solid;
    h1{
        margin-top: 50px;
        font-size: 40px;
        margin-bottom: 80px;
    }
    .opnions{
        display: flex;
        column-gap: 30px;
        .opinion{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: 50px;
                border-radius: 50%;
            }
            p:nth-child(1){
                width: 350px;
                border: solid 1px rgb(233, 233, 233);
                padding: 15px;
                border-radius: 5px;
                height: 200px;
                background-color: rgb(240, 240, 240);
            }
        }
    }  
    .subscribe-btn{
        margin: 60px 0;
    }
    
}

#questions{
    h1{
        margin: 50px 0;
    }
    .accordion{
        width: 800px;
        margin: 10px 0;
    }
    .subscribe-btn{
        margin: 50px 0;
    }
}

#footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(91, 91, 255);
    color: white;
    img{
        width: 90px;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
}

.about-us{
    width: 100vw;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        text-align: center;
    }
    & > p{
        width: 800px;
        text-align: center;
        margin: 0 auto;
    }
    & > h2{
        margin-top: 50px;
        text-align: center;
    }
    .about-us-part{
        margin-top: 50px;
        .about-us-image{
        }
        .about-us-description{
            margin-top: 10px;
        }
    }
}

#contact-us-section, #sign-up-section, #sign-in-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
    img{
        width: 110px;
    }
    .form{
        border: 1px solid black;
        border-radius: 20px;
        width: 300px;
        height: 450px;
        padding-left: 20px;
        
        .outlined-basic{
            margin: 10px 0;
            input{
                width: 250px;
            }
            
        }
        .send-a-message{
            font-size: 20px;
            margin: 20px 0;
        }
        .submit{
            margin: 0 auto;
            margin-top: 10px;
            background-color: $color-3;
            color: white;
            border-radius: 50px;
            border: none;
            width: 120px;
            height: 30px;
        }
    }
    textarea{
        border: 1px solid rgb(133, 133, 133);
        padding: 2px;
    }
    textarea:focus{
        border: 1px solid rgb(0, 225, 255);
    }

    .terms{
        font-size: 10px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}

.plans{
    width: 100vw;
    height: 100vh;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    .plan{
        width: 300px;
        height: 400px;
        margin: 0;
        background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        h2{
            margin: 20px 0;
            font-size: 22px;
            text-align: center;
        }

        & > p{
            text-align: center;
            margin-bottom: 20px;
            font-size: 15px;
            
        }
        .feature{
            display: flex;
            align-items: center;
            align-self: flex-start;
            color: rgb(106, 177, 0);
        }
        .subscribe-btn{
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translate(-50%);
        }
    }
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h2{
        margin: 40px 0;
    }
    .input1{
        width: 400px;
    }
    .subscribe-btn::placeholder{
        padding:auto;
    }
    input[type="submit"]{
        cursor: pointer;
    }
}

.finish-section{
    h1{
        margin-bottom:20px;
    }

    h1, h2{
        text-align: center;
    }
    button{
        margin-top: 50px;
    }
}
$header-height: 70px;
$lateral-bar-width: 300px;
.client-area{
    width: 100vw;
    height: 100vh;
    .client-area-header{
        $padding:50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100vw - $padding * 2);
        z-index: 100;
        background-color: white;
        height: $header-height;
        position: fixed;
        border-bottom: solid rgb(231, 231, 231) 1px;
        padding: 0 $padding;
        img{
            width: 100px;
        }
        .person-icon{
            font-size: 45px;
        }
    }
    .lateral-bar{
        height: calc(100vh - $header-height);
        width: $lateral-bar-width;
        border-right: solid rgb(230, 230, 230) 1px;
        transform: translateY(70px);
        p{
            padding-left: 20px;
            padding-top:30px;
            padding-bottom:30px;
            border-bottom: solid rgb(230, 230, 230) 1px;
            cursor: pointer;
        }
        p[class=""]:hover{
            background-color: #f8f8f8;
        }
        .active{
            background-color: #ececec;
        }
    }
    .main-page{
        display: flex;
        padding-bottom: 50px;
        .info{
            padding-top: $header-height;
            margin-top: 20px;
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            h1{
                font-size: 34px;
            }
            h2{
                margin-top: 20px;
            }
            .plan-switch{
                display: flex;
                width: calc(100vw - $lateral-bar-width);
                flex-direction: column;
                align-items: center;
                .plan{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
        .ac{
            background-color: #dddddd;
            cursor: default;
        }
        .active{
            
        }
    }
}

